:root {
    --primarycolor: #557882;
    --secondarycolor: #46afaa;
    --accentcolor: #9be1af;
    --secondaccent: #e6fac3;
    --primarycolorHover: #344b52;
  
    --main-font: "sans-serif";
    --secondary-font: "Cambria, Cochin, Georgia, Times, " Times New Roman
      ", serif";
  }

h1, h5, p, h2, h4, label
{
    font-family: var(--main-font);
    color: var(--primarycolor);
}


.navBar
{
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
    background-color: var(--secondarycolor);
    margin: 0;
}



.run
{
    position: absolute;
    color: var(--accentcolor);
    background-color: var(--primarycolor);
    border-radius: 1rem;
    padding: 0.5rem;
}

.d-none
{
    display: none !important;
}

#success
{
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 50%;
    padding: 2rem;
    text-align: center;
    font-family: var(--main-font);
    color: var(--primarycolor);
    background-color: var(--accentcolor);
}



.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.grid
{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 600px;
    border: 1px solid black;
    margin-top: 3rem;
}

.cell {
    width: 30px;
    height: 30px;
    background-color: #111;
    border: 1px solid #333;
}

.filled {
    background-color: #f39c12;
}

 .current {
            background-color: #3498db;
        }