:root{
    --primarycolor:#557882;
    --secondarycolor: #46AFAA;
    --accentcolor: #9BE1AF;
    --secondaccent: #E6FAC3;
}


.navBar
{
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
    background-color: var(--secondarycolor);
    margin: 0;
}