
    :root{
    --primarycolor:#557882;
    --secondarycolor: #46AFAA;
    --accentcolor: #9BE1AF;
    --secondaccent: #e8fcc5;

    --main-font: 'sans-serif';
    --secondary-font: 'Cambria, Cochin, Georgia, Times, 'Times New Roman', serif';
}

.navBar
{
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
    background-color: var(--secondarycolor);
    width: 100%;
    margin: 0;

}


.ResumeHeader
{
    display: flex;
    justify-content: center;
}

.profileImg
{
    margin-top: 0.5rem;
    position: absolute;
    border-radius: 50%;
    border-color: var(--secondarycolor);
    border-style: solid;
    left: 20%;
    height: 5rem;
    width: 5rem;
}

.info
{
    display: flex;
    margin-left: 6rem;
    justify-content: center;
}

.Name{
    color: var(--primarycolor);
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    width: 100%;
}

.subtitle
{
    position: absolute;
    left: 20%;
    color: var(--secondarycolor);
    font-size: 1rem;
    font-family: var(--main-font);
}

.job, .jobinfo
{
    display: block;
    margin-top: 0.5rem; 
    left: 20%;
    color: var(--primarycolor);
    font-family: var(--main-font);
}

li
{
    font-size: 1rem;
}

body{
    /* background-color: var(--secondarycolor); */
}