
    :root{
    --primarycolor:#557882;
    --secondarycolor: #46AFAA;
    --accentcolor: #9BE1AF;
    --secondaccent: #e8fcc5;

    --main-font: 'sans-serif';
    --secondary-font: 'Cambria, Cochin, Georgia, Times, 'Times New Roman', serif';
}

.navBar
{
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
    background-color: var(--secondarycolor);
    margin: 0;
}


.ResumeHeader
{
    margin-top: 1rem;
    display: flex;
    justify-content: center;margin-bottom: 1rem;
}

.profileImg
{
    margin-top: 2rem;
    position: relative;
    border-radius: 50%;
    border-color: var(--secondarycolor);
    border-style: solid;
    left: 30%;
    margin-right: 2rem;
    height: 5rem;
    width: 5rem;
}

.info
{
    display: flex;
    justify-content: center;
    
}

.Name{
    position: relative;
    color: var(--primarycolor);
    display: flex;
    justify-content: center;
    margin-left: 3rem;
    margin-top: 2rem;
    width: 100%;
    /* background-color: #46AFAA; */
}

.subtitle
{
    position: absolute;
    left: 30%;
    margin-right: 2rem;
    color: var(--secondarycolor);
    font-size: 1rem;
    font-family: var(--main-font);
    /* background-color: blue; */
}

.job, .jobinfo, .school, .schoolinfo
{
    position: relative;
    display: flexbox;
    /* background-color: #e8fcc5; */
    flex-wrap: wrap;
    margin-top: 0.5rem;
    width: 30%;
    color: var(--primarycolor);
    font-family: var(--main-font);
}

.jobinfo, .schoolinfo
{
    margin-left: 20rem;
}

.container
{
    margin-left: 3rem;
}

.paragraph
{
    position: relative;
    left: 14%;
    color: var(--primarycolor);
    flex-wrap: wrap;
    width: 40%;

}

li
{
    font-size: 1rem;
    color: var(--primarycolor);
    
}

.date
{
    display: flex;
    margin-left: 2rem;
}
