:root {
  --primarycolor: #557882;
  --secondarycolor: #46afaa;
  --accentcolor: #9be1af;
  --secondaccent: #e6fac3;
  --primarycolorHover: #344b52;

  --main-font: "sans-serif";
  --secondary-font: "Cambria, Cochin, Georgia, Times, " Times New Roman
    ", serif";
}

.navBar {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
  background-color: var(--secondarycolor);
  margin: 0;
}

.tableDiv {
  width: 100%;
}

.useColumn {
  width: 50%;
}

table,
tr,
td,
th,
tbody {
  border-style: solid;
  border-color: var(--primarycolor);
  border-width: 0.1rem;
  border-collapse: collapse;
}

td
{
  padding: 0.5rem;
}

th {
  color: var(--secondaccent);
  background-color: var(--primarycolor);
  font-family: var(--main-font);
}

th:hover{
  background-color: var(--primarycolorHover);
  cursor: pointer;
}

#table {
  width: 100%;
  font-family: var(--secondary-font);
  color: var(--primarycolor);
  margin-top: 0.5rem;
}

.tabletitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font);
  color: var(--primarycolor);
}

h3 {
  font-family: var(--main-font);
  color: var(--primarycolor);
}

button {
  display: inline;
  align-items: end;
  justify-content: end;
  padding: 0.2rem;
  border-radius: 0.5rem;
  /* margin-left: 3rem ; */
}

button :hover{
cursor: pointer !important;
}

.success {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 50%;
  padding: 2rem;
  text-align: center;
  font-family: var(--main-font);
  color: var(--primarycolor);
  background-color: var(--accentcolor);
}

.failure {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 50%;
  padding: 2rem;
  text-align: center;
  font-family: var(--main-font);
  color: var(--secondaccent);
  background-color: rgb(145, 3, 3);
}

.d-none {
  display: none;
}

.modal
{

}

.modal-container
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 50%;
  text-align: center;
  padding: 5rem;
  border-radius: 3rem;
  background-color: var(--accentcolor);
}

.modal-content
{
  display: flex;
  justify-content:space-around;
}

#AddItem
{
  padding: 0.25rem;
  width: 4rem;
}

.cancelBTN
{
  margin-top: 1rem;
  width: 4rem;
}




